h1 {
   text-align: center;
   padding: 50px;
   height: 100px;
   background-color: #375D8F;
   font-size: 40px;
}

img {
  float: left;
  margin-right: 15px; 
}


img, #RightOfImage {
  display: inline-block;
  vertical-align: middle;
}

.About {
  font-size: 200%;
}

.FirstDescription {
  font-size: 120%;
}
