/* Overall Structure */

.page_structure {
  display: grid;
  grid-template-columns: 1fr minmax(700px, 1000px) 1fr;
  min-height: 100vh;
}

.left_background, .right_background {
   background-image: url('./IMG_Nature.jpeg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.middle_body {
  padding: 20px;
  background: white; 
}

body {
  margin: 0;
}

/* Middle Body Structure */
h1 {
   text-align: center;
   padding: 50px;
   height: 100px;
   background-color: #375D8F;
   color:#D9E8F5;
   font-size: 40px;
}

.bold {
  font-weight: bold;
}

.about {
  font-size: 200%;
}

.firstdescription {
  font-size: 120%;
  text-align: top;
  text-align: left;
}

.firstimage {
  float: right;
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
    vertical-align: top;
}

#tablepadding {
    vertical-align: top;
    padding: 40px;
}

th {
  font-size: 180%;
  padding: 40px;
}

.tableborder {
  border-collapse: collapse;
  border: 2px solid black; 
}

h3 {
  text-align: center;
}
