h1 {
   text-align: center;
   padding: 50px;
   height: 100px;
   background-color: #375D8F;
   font-size: 40px;
}

.background {
   position: fixed;
   top: 0;
   height: 100vh;
   width: auto;
   z-index: -1;
}

.left_background {
   left: 0;
}

.right_background {
   right: 0;
}

.columns {
  flex: 1; 
  padding: 10px;
}

.about {
  font-size: 200%;
}

.firstdescription {
  font-size: 120%;
  text-align: top;
}


table {
    margin-left: auto;
    margin-right: auto;
}


td {
    vertical-align: top;
    padding: 40px;
}

th {
  font-size: 180%;
  padding: 40px;
}

.tableborder {
  border-collapse: collapse;
  border: 2px solid black; 
}


