/*-----------*/
/* Dark Mode */
/*-----------*/

html.dark_mode {
  background-color: black;
  color: white;
}

html.dark_mode .middle_body {
  padding: 20px;
  background-color: black;
}

html.dark_mode .title {
  background-color: #375D8F;
  padding: 35px 0;
}

html.dark_mode h1 {
  text-align: center;
  color: #D9E8F5;
  font-size: 40px;
}

html.dark_mode .tableborder {
  border-collapse: collapse;
  border: 2px solid white;
}

html.dark_mode .previousbutton,
html.dark_mode .nextbutton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  border: none;
  z-index: 10;
}

#darkmodetoggle {
  cursor: pointer;
}

html.dark_mode #interest_title {
  background-color: #2f5f8f;
}

html.dark_mode #skills_title {
  background-color: #3f6f3a;
}

html.dark_mode .interests_column {
  background-color: #5a7b9c;
}

html.dark_mode .skill_column {
  background-color: #687e66;
}

/*-------------------*/
/* Overall Structure */
/*-------------------*/

.page_structure {
  display: grid;
  grid-template-columns: 1fr min(1000px, 100%) 1fr;
}

.left_background, .right_background {
   background-image: url('./IMG_Nature.jpeg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.middle_body {
  padding: 20px;
  background-color: white; 
}

body {
  margin: 0;
}

/*------------*/
/* Page Title */
/*------------*/

.title {
  background-color: #375D8F;
  padding: 35px 0;
}

h1 {
  text-align: center;
  color: #D9E8F5;
  font-size: 40px;
}

/*------------------------*/
/* Right Below Page Title */
/*------------------------*/

.first_tablelike {
  display: grid;
  grid-template-columns: 1fr 1fr;   
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  column-gap: 60px;
}

.firstimage {
  display: flex;         /*Create a container*/
  justify-content: flex-end;   /*Push image right of container*/
}

.firstimage img {
  width: 250px;
  height: auto;
}

.about {
  text-align: left;
}

.firstdescription { 
  font-size: 120%; 
  text-align: left;
}

/*-------------------*/
/* Upper Middle Body */
/*-------------------*/

.bold {
  font-weight: bold;
}

table {
  width: 100%;
  table-layout: fixed;   /*Forces table to be evenly spaced*/
}

td {
    vertical-align: top;
}

#tablepadding {
    vertical-align: top;
    padding: 40px;
}

th {
  font-size: 180%;
  padding: 40px;
}

.tableborder {
  border-collapse: collapse;
  border: 2px solid black; 
}

h3 {
  text-align: center;
}

#interest_title {
  background-color: #6fa8dc;
}

#skills_title {
  background-color: #93c47d;
}

.interests_column {
  background-color: #cfe2f3;
}

.skill_column {
  background-color: #d9ead3;
}

/*-------------------*/
/* Lower Middle Body */
/*-------------------*/
.tableliketwo {
  display: flex;
  flex-wrap: wrap;    
  gap: 20px;
  justify-content: center;
}

#projects_title {
  font-size: 200%;
}

.project {
  flex-grow: 1;   /*If extra space in row, expand items*/
  flex-shrink: 1;   /*If  space in row tight, contract items*/
  flex-basis: 300px;   /*Starting size*/
  max-width: 350px;
  text-align: center;
}

.project img {
  width: 100%;
  height: auto;
}

/*---------*/
/* Carosel */
/*---------*/
.slide {
  width: 80%;
  margin: 0 auto;
  display: none;
}

.slide.active {
  display: block;
}

.carousel {
  position: relative;
  width: 500px;
  margin: auto;
}

.slides_container {
  position: relative;
  width: 100%;
}

.previousbutton,
.nextbutton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  z-index: 10;
}

.previousbutton {
  left: 0;
}

.nextbutton {
  right: 0;
}

#electrical_diagram_title {
  font-size: 200%;
  text-align: center;
}
